/* Page set up not framework item specific */

.content-item {
  margin: 0 auto;
  width: 980px;
}

.content-75 {
  float: left;
  min-width: 550px;
  width: 75%;
}

.content-50 {
  float: left;
  min-width: 250px;
  width: 50%;
}

.content-25 {
  float: left;
  min-width: 150px;
  width: 25%;
}

.none {
  display: none !important;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* Frame Work CSS */

/* Clear */
.clear {
  clear: both;
  margin: 0;
  padding: 0;
}

.clearfix:after {
  display: block;
  clear: both;
}

.seperator {
  border-radius: 6px;
  box-shadow: 0 0 15px -3px rgba(0, 0, 0, 0.5);
  height: 20px;
  margin: 20px auto;
}

/* Form Construction Elements */

.formContainer {
  color: #333;
  font-size: 16px;
}

.formElement {
  height: auto;
  margin: 10px 0;
  min-height: 25px;
  padding: 10px 0;
}

.formLabel {
  float: left;
  padding: 0 10px;
}

.formItem {
  height: auto;
  margin: 5px 0;
  min-height: 20px;
}

.required:after {
  color: #f45;
  content: ' * ';
  font-size: 16px;
}

input {
  height: 30px;
  min-width: 140px;
}

.url,
.email,
.text,
.number {
  box-shadow: 1px 1px 2px #333;
}

/* Check Boxes */

.checkbox {
  height: 15px;
}

/* Custom Check box css */

/* Base for label styling */
[type='checkbox']:not(:checked),
[type='checkbox']:checked {
  left: -9999px;
  position: absolute;
}
[type='checkbox']:not(:checked) + label,
[type='checkbox']:checked + label {
  cursor: pointer;
  padding-left: 25px;
  position: relative;
}

/* checkbox aspect */
[type='checkbox']:not(:checked) + label:before,
[type='checkbox']:checked + label:before {
  background: #f8f8f8;
  border-radius: 3px;
  border: 1px solid #aaa;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  content: '';
  height: 17px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 17px;
}
/* checked mark aspect */
[type='checkbox']:not(:checked) + label:after,
[type='checkbox']:checked + label:after {
  color: #09ad7e;
  content: '\2713';
  font-size: 19px;
  left: 0px;
  position: absolute;
  top: 0;
  transition: all 0.2s;
}
/* checked mark aspect changes */
[type='checkbox']:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type='checkbox']:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type='checkbox']:disabled:not(:checked) + label:before,
[type='checkbox']:disabled:checked + label:before {
  background-color: #ddd;
  border-color: #bbb;
  box-shadow: none;
}
[type='checkbox']:disabled:checked + label:after {
  color: #999;
}
[type='checkbox']:disabled + label {
  color: #aaa;
}
/* accessibility */
[type='checkbox']:checked:focus + label:before,
[type='checkbox']:not(:checked):focus + label:before {
  border: 1px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 1px solid #4778d9 !important;
}

/* Radio Buttons */

.radio-button-option {
  height: 15px;
}

/* Base for label styling */
[type='radio']:not(:checked),
[type='radio']:checked {
  position: absolute;
  left: -9999px;
}
[type='radio']:not(:checked) + label,
[type='radio']:checked + label {
  cursor: pointer;
  padding-left: 25px;
  position: relative;
}

/* radio aspect */
[type='radio']:not(:checked) + label:before,
[type='radio']:checked + label:before {
  background: #f8f8f8;
  border-radius: 25px;
  border: 1px solid #aaa;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  content: '';
  height: 17px;
  left: 0;
  position: absolute;
  top: 0;
  width: 17px;
}
/* checked mark aspect */
[type='radio']:not(:checked) + label:after,
[type='radio']:checked + label:after {
  color: #09ad7e;
  content: '\25CF';
  font-size: 16px;
  left: 5px;
  position: absolute;
  top: 0;
  transition: all 0.2s;
}
/* checked mark aspect changes */
[type='radio']:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type='radio']:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled radio */
[type='radio']:disabled:not(:checked) + label:before,
[type='radio']:disabled:checked + label:before {
  background-color: #ddd;
  border-color: #bbb;
  box-shadow: none;
}
[type='radio']:disabled:checked + label:after {
  color: #999;
}
[type='radio']:disabled + label {
  color: #aaa;
}
/* accessibility */
[type='radio']:checked:focus + label:before,
[type='radio']:not(:checked):focus + label:before {
  border: 1px dotted blue;
}

/* Password Field */

.password {
  box-shadow: 1px 1px 2px #333;
}

input#checkbox-password {
  display: none;
}

label.label.label-checkbox.button.checkbox-password {
  border-radius: 0;
  box-shadow: 1px 1px 2px #333;
  left: -6px;
  padding: 7px 7px 8px;
  position: relative;
  top: 2px;
}

/* Select Boxes : Note the main styling for select boxes comes from Chosen JS and CSS these are merely constructor styles and SHOULD NOT BE USED for styling the Select boxes */

/* Chosen Styles */

.chosen-container {
  min-width: 150px;
}

/* File Upload */

.uploadFile,
.uploadImage,
.uploadVideo {
  bottom: 20px;
  box-shadow: 1px 1px 2px #333;
  position: relative;
}

.fileUpload,
.imageUpload,
.videoUpload {
  box-shadow: 1px 1px 2px #333;
  display: inline-block;
  margin: 10px;
  overflow: hidden;
  position: relative;
  width: 80px;
}

.fileUpload input.upload,
.fileUpload input.photoUpload,
.fileUpload input.videoUpload {
  cursor: pointer;
  filter: alpha(opacity=0);
  font-size: 20px;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.fileUpload span {
  position: relative;
  top: 8px;
}

.fileUpload.button {
  border-radius: 0;
  box-shadow: 1px 1px 2px #333;
  display: inline-block;
  height: 34px;
  left: -5px;
  position: relative;
  top: -6px;
}

/* Text Fields : Standard Input boxes */

/* Email Input Fields */

/* URL Input Fields */

/* Intiger/Number Fields */

.number {
  font-size: 20px;
  max-width: 60px;
  min-width: 40px;
  padding: 0 0 0 10px;
  width: auto;
}

/* Range Slider Field */

span.rangeValue1 {
  bottom: 10px;
  position: relative;
}

/* Buttons / Submit */

.label-button,
.label-submit {
  display: none;
}

/* This is For Demo only Purposes and should be removed from production */
.button,
.submit,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  background: rgb(238, 238, 238); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhNWE1YTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(
    top,
    rgba(238, 238, 238, 1) 0%,
    rgba(165, 165, 165, 1) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(238, 238, 238, 1)),
    color-stop(100%, rgba(165, 165, 165, 1))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    rgba(238, 238, 238, 1) 0%,
    rgba(165, 165, 165, 1) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    rgba(238, 238, 238, 1) 0%,
    rgba(165, 165, 165, 1) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    rgba(238, 238, 238, 1) 0%,
    rgba(165, 165, 165, 1) 100%
  ); /* IE10+ */
  background: linear-gradient(
    to bottom,
    rgba(238, 238, 238, 1) 0%,
    rgba(165, 165, 165, 1) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#a5a5a5',GradientType=0 ); /* IE6-8 */

  /* Other Non-gradient Styles */
  border-radius: 2px;
  border: 1px inset #ccc;
  box-shadow: 1px 1px 2px #333;
  clear: both;
  color: #fff;
  font-size: 16px;
  height: 40px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
  text-shadow: 2px 1px 1px #333;
}

.button:hover,
.submit:hover,
input[type='button']:hover,
input[type='reset']:hover,
input[type='submit']:hover {
  background: rgb(96, 108, 136); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYwNmM4OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZjRjNmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(
    top,
    rgba(96, 108, 136, 1) 0%,
    rgba(63, 76, 107, 1) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(96, 108, 136, 1)),
    color-stop(100%, rgba(63, 76, 107, 1))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    rgba(96, 108, 136, 1) 0%,
    rgba(63, 76, 107, 1) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    rgba(96, 108, 136, 1) 0%,
    rgba(63, 76, 107, 1) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    rgba(96, 108, 136, 1) 0%,
    rgba(63, 76, 107, 1) 100%
  ); /* IE10+ */
  background: linear-gradient(
    to bottom,
    rgba(96, 108, 136, 1) 0%,
    rgba(63, 76, 107, 1) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-8 */
}

.button:active,
.submit:active,
input[type='button']:active,
input[type='reset']:active,
input[type='submit']:active {
  background: rgb(255, 168, 76); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYTg0YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjdiMGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(
    top,
    rgba(255, 168, 76, 1) 0%,
    rgba(255, 123, 13, 1) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(255, 168, 76, 1)),
    color-stop(100%, rgba(255, 123, 13, 1))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    rgba(255, 168, 76, 1) 0%,
    rgba(255, 123, 13, 1) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    rgba(255, 168, 76, 1) 0%,
    rgba(255, 123, 13, 1) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    rgba(255, 168, 76, 1) 0%,
    rgba(255, 123, 13, 1) 100%
  ); /* IE10+ */
  background: linear-gradient(
    to bottom,
    rgba(255, 168, 76, 1) 0%,
    rgba(255, 123, 13, 1) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-8 */
}

/* Form Error States */
.formElement.error {
  height: 50px;
}

.errorIcon {
  border-radius: 40px;
  border: 2px solid #ff0000;
  color: red;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  height: 15px;
  padding: 5px;
  text-align: center;
  width: 15px;
}

.formError {
  clear: both;
  color: #ff0000;
  display: inline-block;
  font-size: 14px;
  margin: 10px 0;
}

.formElement.error [type='checkbox']:not(:checked) + label:before,
.formElement.error [type='checkbox']:checked + label:before,
.formElement.error [type='radio']:not(:checked) + label:before,
.formElement.error input.error,
.formElement.error .chosen-container-single .chosen-single {
  background: #f7a3a4;
  border: 1px solid #ff0000;
  box-shadow: inset 0 1px 3px #890103;
}
.formElement.error .chosen-container-single .chosen-single {
  color: #fff;
}

/* Place holder Text */
.formElement.error ::-webkit-input-placeholder {
  color: #fff;
  padding: 0 5px;
}

.formElement.error :-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
  padding: 0 5px;
}

.formElement.error ::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
  padding: 0 5px;
}

.formElement.error :-ms-input-placeholder {
  color: #fff;
  padding: 0 5px;
}

.errorHide .formError {
  display: none;
}

/* Forms - Specific */

/* Tabs Style */

/* Accordion */
.accordion,
.accordion * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.accordion {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  min-height: 600px;
  overflow: hidden;
}

/* Section Titles */
.accordion-section-title {
  background: #fff;
  box-shadow: 1px 1px 1px #333 inset;
  color: #333;
  display: inline-block;
  font-size: 1.2em;
  padding: 15px;
  text-decoration: none;
  transition: all linear 0.15s;
  width: 100%;
}

.accordion-section-title.active,
.accordion-section-title:hover {
  background: #4c4c4c;
  /* Type */
  color: #fff;
  text-decoration: none;
}

.accordion-section:last-child .accordion-section-title {
  border-bottom: none;
}

/* Section Content */
.accordion-section-content {
  display: none;
  padding: 15px;
}

.open {
  display: block;
}

/* Responsive Menu */
/* Toggle Button */
.toggle-nav {
  display: none;
}

/* Menu */
@media screen and (min-width: 860px) {
  .menu {
    background: #f2f2f2;
    border-radius: 3px;
    box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.5);
    padding: 0 15px;
  }
}

.menu ul {
  display: inline-block;
  padding: 0 20px;
}

.menu li {
  float: left;
  font-size: 17px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.menu li:before {
  border-left: 1px solid #333;
  content: '';
  margin: 5px 10px;
}

.menu li:first-child:before,
.menu .sub-menu li:before {
  border-left: 0;
}

.menu li:last-child {
  margin-right: 0px;
}

.menu a {
  color: #666;
  text-decoration: none;
  transition: color linear 0.15s;
}

.menu a:hover,
.menu .current-item a {
  color: #333;
  text-decoration: none;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

/* Search */
.search-form {
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.5);
  float: right;
  left: 12px;
  position: relative;
  top: 5px;
}

.search-form input {
  border-radius: 2px 0px 0px 2px;
  border: 0;
  float: left;
  font-size: 17px;
  height: 33px;
  margin: 6px 0 0;
  max-width: 130px;
  min-width: 80px;
  padding: 0px 8px;
  width: auto;
}

.search-form button {
  background: #66a992;
  border-radius: 0px 2px 2px 0px;
  border: 0;
  color: #fff;
  float: right;
  font-size: 13px;
  font-weight: 600;
  height: 33px;
  margin: 6px 0 0;
  padding: 0px 15px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

/* Menu Drop down */

.menu .arrow {
  font-size: 11px;
  line-height: 0%;
}

/*----- Top Level -----*/
.menu > ul > li {
  float: left;
  position: relative;
}

.menu > ul > li:hover > a,
.menu > ul > .current-item > a {
  background: #e4e4e4;
  border-radius: 5px 5px 0 0;
}

/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
  opacity: 1;
  z-index: 1;
}

.sub-menu {
  background: #f2f2f2;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  left: 12px;
  opacity: 0;
  padding: 5px 0px;
  position: absolute;
  top: 55%;
  transition: opacity linear 0.15s;
  width: 160%;
  z-index: -1;
}

.sub-menu li {
  display: block;
  font-size: 16px;
}

.sub-menu li a {
  display: block;
  padding: 10px 30px;
}

.sub-menu li a:hover,
.sub-menu .current-item a {
  background: #e4e4e4;
}

/* Carousel */

.caroufredsel_wrapper {
  max-height: 200px;
  max-width: 980px;
  min-height: 200px;
  min-width: 980px;
  width: 980px !important;
}

#carousel {
  /*    the HTML element that will be turned into a carousel */
  height: 175px !important; /*    depending on your situation */
  overflow: hidden;
  width: 980px; /*    depending on your situation */
}

.carousel-slide {
  display: block;
  float: left;
  margin: 0;
  max-width: 326px !important;
  min-width: 300px;
  padding: 0 0 0 22px;
}

.carousel-slide.inactive {
  opacity: 0.5;
}

.carousel-slide.activee {
  opacity: 0.8;
}

#pager {
  text-align: center;
}

#pager a {
  text-decoration: none;
}

#pager a span {
  background: #ccc;
  border-radius: 20px;
  border: 1px solid #ccc;
  color: transparent;
  height: 2px;
  margin: 0 2px;
  padding: 0 5px;
  text-decoration: none;
}

#pager a.selected span {
  background: #333;
  border: 1px solid #333;
}

#carousel-controls {
  position: relative;
}

#prev {
  float: left;
  right: -1px;
}

#next {
  float: right;
  left: -5px;
}

#prev,
#next {
  background: #000;
  border: 1px solid #333;
  bottom: 25px;
  color: #fff;
  font-size: 78px;
  height: 173px;
  margin: 0 -20px 0 0;
  opacity: 0.5;
  position: absolute;
  width: 25px;
}

#prev:hover,
#next:hover {
  opacity: 0.8;
}

#prev:after {
  color: #fff;
  content: '>';
  font-size: 25px;
  height: 30px;
  position: relative;
  top: 15px;
  width: 30px;
}

#next:after {
  color: #fff;
  content: '<';
  font-size: 25px;
  height: 30px;
  position: relative;
  top: 15px;
  width: 30px;
}

h3.carousel-slide-title {
  background: #000;
  color: #fff;
  font-size: 22px;
  text-align: center;
  text-shadow: 1px 2px 1px #666;
}

p.carousel-slide-text {
  background: #fff;
  color: #333;
  font-size: 16px;
  min-height: 70px;
  text-shadow: 1px 1px 1px #ccc;
}

h3.carousel-slide-title,
p.carousel-slide-text {
  border-radius: 5px;
  bottom: 220px;
  left: 10px;
  opacity: 0.6;
  padding: 10px;
  position: relative;
  right: 10px;
  width: 260px;
}

/* Responsive */
@media screen and (max-width: 1150px) {
  .wrap {
    width: 90%;
  }
}

@media screen and (max-width: 970px) {
  .search-form input {
    width: 120px;
  }
}

@media screen and (max-width: 860px) {
  .menu {
    display: inline-block;
    position: relative;
  }

  .menu ul.active {
    display: none;
  }

  .menu ul.sub-menu .active {
    display: block;
  }

  .menu ul {
    background: #f2f2f2;
    border-radius: 3px;
    box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.5);
    left: 0px;
    padding: 10px 18px;
    position: absolute;
    top: 100%;
    width: 100%;
  }

  .menu ul:after {
    border-bottom: 7px solid #f2f2f2;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: '';
    height: 0px;
    left: 22px;
    position: absolute;
    top: 0%;
    transform: translate(0%, -100%);
    width: 0px;
  }

  .menu li {
    display: block;
    float: none;
    margin: 5px 0px 5px 0px;
  }

  .menu a {
    display: block;
  }

  .toggle-nav {
    background: #f2f2f2;
    border-radius: 3px;
    box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.5);
    color: #777;
    float: left;
    font-size: 20px;
    padding: 20px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
    transition: color linear 0.15s;
  }

  .toggle-nav:hover,
  .toggle-nav.active {
    color: #ccc;
    text-decoration: none;
  }

  .search-form {
    float: left;
    margin: 12px 0px 0px 0;
  }

  .search-form input {
    box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.1);
  }

  .menu li:before {
    border-left: 0;
  }

  /*----- Top Level -----*/
  .menu > ul > li {
    float: none;
    display: block;
  }

  .sub-menu {
    padding: 0 !important;
    top: 80% !important;
  }
}
/* Mobile Default Responsive sizes */

/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
}

/* Smartphones (landscape) */
@media only screen and (min-width: 321px) {
  /* Styles */
}

/* Smartphones (portrait) */
@media only screen and (max-width: 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}

/* iPads (landscape) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}

/* iPads (portrait) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}

/* Desktops and laptops */
@media only screen and (min-width: 1224px) {
  /* Styles */
}

/* Large screens */
@media only screen and (min-width: 1824px) {
  /* Styles */
}

/* iPhone 4 */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
